<div
    class="w-20 h-20 bg-gray-800 rounded-lg flex items-center justify-center transform rotate-45 border-2 border-pokemon-light"
>
    <span
        id="medal-form"
        class="absolute font-bold text-xl text-white transform -rotate-45">?</span
    >
    <img
        id="medal-form-image"
        class="m-auto rounded-full hidden"
        height={100}
        width={100}
        alt="Medalla actual"
    />
</div>
