---
const { id } = Astro.props
---
<div
    id={id}
    class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 mt-5 hidden"
>
    <div class="bg-blue-600 h-2.5 rounded-full" style="width: 45%"></div>
    <span id={`${id}-info`}>5/10</span>
</div>
